.common-home{
  background: rgb(147, 139, 139);
}

ul {
  list-style-type: none;
}

#page{
  max-width: 1600px;
  margin: 0 auto;
  padding: 55px auto 46px auto;
}

#page header {
  padding: 0 0 33px;
}

#bienvenuAcceuil{
  padding:0 100px 0 ;
}
#container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 15px;
  background: rgb(147, 139, 139);
  color: black; 
  min-height: 100vh;

} 

#jeux-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 jeux par rangée */
  max-width: 1020px; /* Limite la largeur du conteneur de jeux */
  align-items: end;
}


.jeu {
  margin-right: 100px;
  margin-bottom: 20px; /* Espacement entre les jeux */
}



.myfooter{
  background: #f8f9fa;
}


.nom{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
 

.prix{
  color: green;
  font-size: x-large;
  font-weight: bold;
}

.btn.btn-success{
  border-style:solid;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  size: 10px;
}

background{
  color: black;
}



