

article{
min-height: 100vh;
display: grid;
grid-template-rows: auto 1fr auto;
} 

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

#pGauche {
  animation: slide-in 1000ms;
  animation-timing-function: linear;
}